<button [routerLink]="['/home']" type="button" class="btn btn-primary">home</button>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" form >
                <div class="form-group">
                  <label for="title">Title</label>
                  <input 
                  type="email" 
                  class="form-control" 
                  id="title" 
                  placeholder="Enter a title"
                  class="form-control" 
                  ngModel name="title"
                  #postTitle="ngModel" 
                  required
                  >
                </div>
                <div *ngIf="postTitle.invalid && showValidationsErros ">
                    <p class="help-danger" *ngIf="postTitle.errors">Title cannot be blank</p>
                </div>
                <div class="form-group">
                  <label for="content">Content</label>
                  <textarea 
                  class="form-control rounded-0" 
                  id="textarea" 
                  rows="10" 
                  placeholder="Enter content" 
                  id="content"
                  ngModel name="content"
                  #postContent="ngModel" 
                  required
                  ></textarea>
                </div>
                <div *ngIf="postContent.invalid && showValidationsErros ">
                    <p class="help-danger" *ngIf="postContent.errors">Content cannot be blank</p>
                </div>
                <div class="form-group">
                    <label for="image">Choose an image</label>
                    <br>
                    <input 
                    type="file" 
                    (change)="onFileSelected($event)" 
                    id="image" 
                    ngModel name="image"
                    #postImage="ngModel" 
                    >
                </div>
                <div>
                  <img 
                  [src]="imageUrl" 
                  *ngIf="imageUrl"
                  class="scaled-image form-group" />
                </div>
                <div *ngIf="(postContent.invalid || postTitle.invalid) && showValidationsErros ">
                    <p class="help-danger" *ngIf="postContent.errors || postTitle.invalid">Form is invalid</p>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </div>
            </form>
        </div>
    </div>
</div>